
*{
  margin:0px;
  padding:0px;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
 }
 



 
/* STYLE RULES AND MEDIA QUERY 
FOR DISCOUNT
POP UP */


.pop-mother{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
 position:fixed;
  top:70px;
  width:100%;
  background:#ffffff00;
  backdrop-filter:blur(5px);
  height:85%;
  display: none;
  z-index:99999;
 }
 
 .popup{
     color:black;
     width:90%;
    position:absolute;
     background-color:white;
     height:350px;
    text-align:center;
  top:70px;
  left:4%;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.373);
 }
 
 #discount-close{
  width:30px;
  height:30px;
  color:black;
  font-weight:bold;
  font-size:20px;
  position:absolute;
  right:-10px;
  top:-29px;
  border:none;
 }
 
 
 .discount-head{
  color: #e19a00;
  font-size:40px;
  padding:10px;
 }
 
 
 .discount-form{
  position:relative;
  top:-55;
 }
 
 
 
 .discount-input{
   width:250px;
   height:40px;
     border-radius:5px;
  background-color:white;
   position:relative;
top:70px;
 }
 
 .discount-input::placeholder{
  color:grey;
position:relative;
left:10px;
 }
 
 
 .con-btn{
     width:250px;
    height:40px;
    color:white;
    border:none;
    border-radius:5px;
  position:relative;
  top:80px;
   background-color:#e19a00;
 }
 
 
 .discount-head-2{
   font-size:12px;
  padding:10
 }
 
  
 .no-discount{
    text-decoration:underline;
    margin-top:70px;
   font-size:12px;
 }
 
 .discount-info{
   position:relative;
  top:35px;
  font-size:11px;
 }
 
 
 @media (min-width: 768px) {
 
  .popup{
     color:white;
     width:50%;
    position:absolute;
     background-color:black;
     height:380px;
    text-align:center;
  top:70px;
  left:25%;
 }
 
 .discount-head{
  padding:20px;
  font-size:55
 }
 
  
 .discount-head-2{
  width:70%;
 position:relative;
  left:13%
 }
 
 
  .discount-info{
   position:relative;
  top:35px;
  font-size:11px;
   width:70%;
   left:13%
 }
 
 
 .con-btn{
     width:60%; 
 }
 
 .discount-input{
   width:60%;
  }
  
 }
 
 
 @media (min-width: 1024px) {
 
 .discount-head-2{
  width:60%;
 position:relative;
  left:18%
 }
 
 
  .discount-info{
   position:relative;
  top:35px;
  font-size:12px;
   width:60%;
   left:20%
 }
 
  
 }
 
 
 
 
 /*END OF MEDIA QUERY AND STYLE
 RULES FOR DISCOUNT POP UP */
 
 








 /* SCROLL TO TOP STYLE RULES */


 .scrollTop{
  position:fixed;
  bottom:30px;
  right:100px;
  background-color: #f6c527;
  color:black;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  z-index: 9999;
  padding: 10px;
  border-radius:30px;
}





 /* HEADER STYLE RULES */
 header{
   display:flex;
   justify-content:space-between;
   background-color:white;
   height:60px;
   position:fixed;
   width:100%;
   z-index: 9999999;
   top:0px;
   box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.251);
 }
 
 .logo-card{
   display:flex;
   align-items:center;
   gap:15px;
   position:absolute;
  padding:10px;
 }
 
 .menu-btns{
   position:absolute;
   right:20px;
  top:10px;
 }
 
 /* END OF
 HOME HEADER 
 STYLE RULES */
 
 
 
 
 
 
 
 #menu-bar{
 display:flex;
  flex-direction:column; 
  z-index:1;
  position:absolute;
  background-color:white;
  height:350px;
  transition: all 0.4s ease;
  top:60px;
 width:100%;
  align-items:center;
  gap:30px;
  transition: 0.5s ease-in-out;
  right:0px;
 }
 

 
 
 
 
 
 .menu-btns:hover{
 color: rgba(181, 225, 117, 0.961);
 }
 
 
 
 .slide{
  left:-100%;
 }
 
 .hide{
  visibility:hidden;
 }
 
 .open{
  position:absolute;
 }
 
 .nav-link-card{
  padding-top:40px;
 }
 
 
 .nav-link{
  margin:30px;
  font-weight:600;
   font-family: 'Raleway', sans-serif;
  text-align:center;
  position:relative;
  top:-30px;
  font-size:14px;
 }
 
 .nav-social{
   top:-45px;
    position:relative;
  display:grid;
  grid-template-columns: repeat(4,25px);
  gap:25px;
 }
 
 
 .nav-social i{
  font-size:23px;
 
 }
 
 .nav-social img{
  width:23px;
  
 }
 
 
 .nav-link a{
  text-decoration:none;
  color:#e19a00;
 }
 
 a{
  text-decoration:none;
;
 }


 .img-link{
 width: 10%;
 height:auto;
 }
 
 
 .works img:hover{
   transform:scale(1.1)
  }
  
 
  .chat-wa{
   position:fixed;
    top:93%;
    display:flex;
    justify-content:right;
    align-items:right;
   right:20px;
   z-index: 999;
   }
   
 
   
   .whatsapp-img{
   border-radius:100px;
   height:40px;
    width:40px;
   margin-top:-9px;
   animation: scaleUp 3s ease-in-out infinite;
   z-index: 999;
   }
 
 
 
 
 
 /*font-family: 'Edu VIC WA NT Beginner', cursive;*/
 
  .images{
  width:130px;
  height:190px;
  border:2px solid rgba(172, 255, 47, 0.961);
  }
  
  .mother-container{
   z-index:-10;
     margin-top:390px;
  }
 
  .personal-info{
 color:white;
     font-family:system-ui;
   padding:15px;
   margin-top:-25px;
   background-color:rgba(0, 0, 0, 0.057);
     
  }
  
  .personal-info:hover{
   color:yellowgreen;
   cursor: pointer;
  }
 
 
  .name{
 font-size:40px;
     font-weight:300;
  }
 
  .title{
 font-size:15px;
   font-weight:300;
  }
 
  .social{
   display:flex;
   gap:18px;
   margin-top:15px;
  }
 
 
  .works{
 margin-top:20px;
     display:grid;
     grid-template-columns: repeat(2,130px);
     justify-content:center;
     align-items:center;
     gap:12px;
  }
 
 
 footer{
   background-color:rgba(0, 0, 0, 0.321);
  height:70px;
 position:relative;
  width:100%;
  top:100%;
  margin-top:50px;
 }
 
 .foot-note{
 position:relative;
  color:yellowgreen;
  text-align:center;
  top:35px;
  font-weight:bold;
 }
 
 /* ABOUT FOOTER*/
 
 
 
